* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background: white;
    width: 100%;
    justify-content: center;
    align-items: center;
}


/* common styles */
.title{
    font-size: 30px;
    color: black;
    padding-top: 35px;
}

.sub_title{
    font-size: 25px;
    color: black;
    margin-top: 15px;
}

.description {
    font-size: 19px;
    color: black;
    margin-top: 5px;
    padding-bottom: 20px;
}

.menu {
    font-size: 25px;
    color: black;
    padding-top: 35px;
}

.menu_description {
    font-size: 19px;
    color: black;
    margin-top: 5px;
    padding-bottom: 20px;
}


/*header*/
.container {
    width: 100%;
    max-width: 1000px;
    background: cornflowerblue;
}

.top {
    grid-template-columns: 1fr -5fr;
    padding: 40px;
}

.box {
    width: 100%;
    display: flex;
    grid-template-columns: 1 / -1;
}

.profileImage {
    width: 200px;
    border-radius: 50%;
    margin: 5px;
    padding: 20px;
}

.profileTitle {
    display: grid;
    align-items: center;
    align-content: center;
}

.profileJob {
    color: blue;
    font-size: 31px;
}


/* main */
.content_container {
    width: 100%;
    max-width: 1000px;
    background: whitesmoke;
}

.content_top {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    align-content: center;
    border-bottom: solid;
}


/* footer */
.contact_container {
    width: 100%;
    max-width: 1000px;
    background: whitesmoke;
    padding-bottom: 50px;
}

.contact_box {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    align-content: center;
}