* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    width: 100%;
    background: dimgray;
}


/* navigation bar */
.menu {
    background-color: rgb(5, 5, 5);
    margin: 0px;
    position: sticky;
    top: 0;
}

.menu a {
    font-size: 20px;
    color: rgb(230, 230, 230);
    box-sizing: border-box;
    display: inline-flex;
    padding: 16px 24px; 
}

.menu a:hover {
    background: rgb(0, 259, 179);
    color: rgb(5, 5, 5);
}


/* common styles */
.title{
    font-size: 30px;
    margin-left: 40px;
    color: rgb(230, 230, 230);
    padding-top: 35px;
    grid-column: 1;
}
.sub_title{
    font-size: 25px;
    margin-left: 5px;
    color: rgb(230, 230, 230);
    margin-top: 15px;
    grid-column: 2;
}
.description {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 40px;
    color: rgb(230, 230, 230);
    margin-top: 5px;
    padding-bottom: 20px;
    grid-column: 2;
}

.cs_link {
    color: rgb(230, 230, 230);
}

.cs_link:hover {
    color: rgb(230, 230, 230);
}

.date {
    font-size: 15px;
    color: rgb(0, 259, 179);
    margin-left: 40px;
    grid-column: 1;
}


/*header*/
.container {
    width: 100%;
    max-width: 1000px;
    height: 225px;
    background: rgb(5, 5, 5);
}

.top {
    padding: 20px;
}
.box {
    width: 100%;
    display: flex;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(230, 230, 230);
    margin-top: 5px;
    margin-left: 35px;
}

.profileTitle {
    margin-top: 50px;
    align-items: center;
    align-content: center;
}

.profileJob {
    color: rgb(0, 259, 179);
    font-size: 31px;
}

.profileName {
    font-size: 60px;
    color: rgb(230, 230, 230);
}


/* main */
.content_container {
    width: 100%;
    max-width: 1000px;
    background: rgb(15, 15, 15);
}
.content_box {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.skill_list {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 40px;
    color: rgb(230, 230, 230);
    margin-top: 75px;
    padding-bottom: 20px;
    list-style: none;
    grid-column: 2;
}

.hobby_list {
    font-size: 19px;
    color: rgb(230, 230, 230);
    margin-top: 75px;
    margin-left: 5px;
    padding-bottom: 40px;
    list-style: none;
    grid-column: 2;
}

.hobby_list li {
    padding-bottom: 5px;     /* to add space inbetween list */
}


/* footer */
.contact_container {
    width: 100%;
    max-width: 1000px;
    background: rgb(25, 25, 25);
    padding-bottom: 20px;
    display: flex;
}
.contact_box {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    align-content: center;
}
.contact_title {
    font-size: 30px;
    margin-left: 12px;
    color: rgb(230, 230, 230);
    padding-top: 35px;
}
.contact_list {
    font-size: 19px;
    color: rgb(230, 230, 230);
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style: none;
    display: grid;
}

.contact_list li {
    padding-bottom: 30px;
    padding-top: 5px;
}

.form {
    max-width: 400px;
    margin-top: 100px;
    border: 3px solid rgb(0, 259, 179);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 10px;
    width: 200px;
}

.form select {
    margin: 10px;
    width: 200px;
}

.form textarea {
    margin: 10px;
    width: 350px;
    height: 100px;
}

.submit-button {
    color: rgb(5, 5, 5);
    background: rgb(0, 259, 179);
    max-width: 70px;
}

.btt {
    position: fixed;
    bottom: 10px;
    margin-left: 10px;
}

.btt a {
    font-size: 12px;
    color: rgb(0, 259, 179);
}

.btt a:hover {
    color: rgb(0, 259, 179);
}

/* Icon colours */
.fa-gamepad, .fa-futbol, .fa-photo-film, .fa-linkedin, .fa-phone, .fa-instagram, .fa-location-dot, .fa-github, .fa-arrow-up, .fa-envelope {
    color: rgb(0, 259, 179);
}

.contact_list a {
    color: rgb(230, 230, 230);
}

.contact_list a:hover {
    color: rgb(230, 230, 230);
}