* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
body {
    width: 100%;
    background: dimgray;
}


/* navigation bar */
.menu {
    background-color: rgb(5, 5, 5);
    margin: 0px;
    position: sticky;
    top: 0;
}

.menu a {
    font-size: 20px;
    color: rgb(230, 230, 230);
    box-sizing: border-box;
    display: inline-flex;
    padding: 16px 24px; 
}

.menu a:hover {
    background: rgb(0, 259, 179);
    color: rgb(5, 5, 5);
}


/* common styles */
.title{
    font-size: 30px;
    margin-left: 40px;
    color: rgb(230, 230, 230);
    padding-top: 35px;
    grid-column: 1;
}
.sub_title{
    font-size: 25px;
    margin-left: 5px;
    color: rgb(230, 230, 230);
    margin-top: 15px;
    grid-column: 2;
}
.description {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 40px;
    color: rgb(230, 230, 230);
    margin-top: 5px;
    padding-bottom: 20px;
    grid-column: 2;
}

.cs_link {
    color: rgb(230, 230, 230);
}

.cs_link:hover {
    color: rgb(230, 230, 230);
}

.date {
    font-size: 15px;
    color: rgb(0, 259, 179);
    margin-left: 40px;
    grid-column: 1;
}


/*header*/
.hero {
    width: 100%;
    max-width: 1000px;
    height: 225px;
    background: url("../Images/hero-image.jpg") rgb(5, 5, 5);
    background-position-y: -80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
}

.top {
    padding: 20px;
}
.box {
    width: 100%;
    display: flex;
}

.profileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(230, 230, 230);
    margin-top: 5px;
    margin-left: 35px;
}

.profileTitle {
    margin-top: 50px;
    align-items: center;
    align-content: center;
}

.profileJob {
    color: rgb(0, 259, 179);
    font-size: 29.8px;
}

.profileName {
    font-size: 60px;
    color: rgb(230, 230, 230);
}


/* main */
.content_container {
    width: 100%;
    max-width: 1000px;
    background: rgb(15, 15, 15);
}
.content_box {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.skill_list {
    font-size: 19px;
    margin-left: 5px;
    margin-right: 40px;
    color: rgb(230, 230, 230);
    margin-top: 75px;
    padding-bottom: 20px;
    list-style: none;
    grid-column: 2;
}

.hobby_list {
    font-size: 19px;
    color: rgb(230, 230, 230);
    margin-top: 75px;
    margin-left: 5px;
    padding-bottom: 40px;
    list-style: none;
    grid-column: 2;
}

.hobby_list li {
    padding-bottom: 5px;     /* to add space inbetween list */
}


/* footer */
.contact_container {
    width: 100%;
    max-width: 1000px;
    background: rgb(25, 25, 25);
    padding-bottom: 20px;
    display: flex;
}
.contact_box {
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    align-content: center;
}
.contact_title {
    font-size: 30px;
    margin-left: 12px;
    color: rgb(230, 230, 230);
    padding-top: 35px;
}
.contact_list {
    font-size: 19px;
    color: rgb(230, 230, 230);
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    list-style: none;
    display: grid;
}

.contact_list li {
    padding-bottom: 30px;
    padding-top: 5px;
}

.form {
    max-width: 400px;
    margin-top: 100px;
    border: 3px solid rgb(0, 259, 179);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form input {
    margin: 10px;
    width: 200px;
}

.form select {
    margin: 10px;
    width: 200px;
}

.form textarea {
    margin: 10px;
    width: 350px;
    height: 100px;
}

.submit-button {
    color: rgb(5, 5, 5);
    background: rgb(0, 259, 179);
    max-width: 70px;
}

.btt {
    position: fixed;
    bottom: 10px;
    margin-left: 10px;
}

.btt a {
    font-size: 12px;
    color: rgb(0, 259, 179);
}

.btt a:hover {
    color: rgb(0, 259, 179);
}

/* Icon colours */
.fa-gamepad, .fa-futbol, .fa-photo-film, .fa-linkedin, .fa-phone, .fa-instagram, .fa-location-dot, .fa-github, .fa-arrow-up, .fa-envelope {
    color: rgb(0, 259, 179);
}

.contact_list a {
    color: rgb(230, 230, 230);
}

.contact_list a:hover {
    color: rgb(230, 230, 230);
}

/* ---------- MEDIA QUERIES ---------- */

@media screen and (max-width: 850px) {
    .date {
        font-size: 12px;
    }
    .profileJob {
        font-size: 24px;
    }
    .profileName {
        font-size: 48px;
    }
    .profileImage {
        width: 175px;
        height: 175px;
        margin-left: 10px;
        
    }
    .contact_list {
        font-size: 16px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 750px) {
    .profileImage {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .contact_list {
        font-size: 14px;
        margin-left: 10px;
    }
    .title{
        font-size: 27px;
        margin-left: 30px;
        padding-top: 35px;
    }
    .date {
        font-size: 11px;
        margin-left: 30px;
    }
    .sub_title{
        font-size: 21px;
        margin: 10px;
        
    }
    .description {
        font-size: 16px;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 5px;
        padding-bottom: 20px;
    }
    .skill_list {
        font-size: 16px;
    }
    .hobby_list {
        font-size: 16px;
    }
    .contact_title {
        font-size: 27px;
    }
    .form {
        max-width: 300px;
        margin-right: 15px;
    }
    .form textarea {
        width: 250px;
    }
    .menu a {
        font-size: 17px;
        padding: 14px 21px; 
    }
}

@media screen and (max-width: 650px){
    .container {
        height: 150px;
        width: 100%;
    }
    .hero{
        height: 150px;
        width: 100%;
    }
    .profileTitle {
        margin-top: 20px;
    }
    .profileImage {
        width: 125px;
        height: 125px;
        margin-top: 0;
    }   
    .profileJob {
        font-size: 20px;
    }
    .profileName {
        font-size: 38px;
    }
    .menu a {
        font-size: 15px;
        padding: 11px 17px; 
    }
    .contact_list {
        font-size: 12px;
        margin-left: 5px;
    }
    
}

@media screen and (max-width: 570px){
    .container {
        height: 150px;
        width: 100%;
    }
    .hero{
        height: 150px;
        width: 100%;
    }
    .profileTitle {
        margin-top: 20px;
    }
    .profileImage {
        width: 115px;
        height: 115px;
        margin-top: 0;
    }   
    .profileJob {
        font-size: 18px;
    }
    .profileName {
        font-size: 35px;
    }
    .menu a {
        font-size: 12px;
        padding: 9px 15px; 
    }
    .contact_list {
        font-size: 11px;
        margin-left: 2px;
    }
    .title{
        font-size: 22px;
        margin-left: 20px;
        padding-top: 35px;
    }
    .date {
        font-size: 10px;
        margin-left: 20px;
    }
    .sub_title{
        font-size: 18px;
        margin: 10px;
    }
    .description {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 40px;
        margin-top: 5px;
        padding-bottom: 20px;
    }
    .skill_list {
        font-size: 14px;
    }
    .hobby_list {
        font-size: 14px;
    }
    .contact_title{
        text-align: center;
        font: 22px;
    }
    .contact_container {
        display: grid;
    }
    .form {
        margin-top: 20px auto;
    }
    .contact_list li {
        padding-bottom: 10px;
        padding-top: 0px;
    }
}
    
@media screen and (max-width: 500px) {
    .container {
        height: 240px;
    }
    .top {
        height: 240px;
        text-align: center;
    }
    .box {
        display: contents;
        height: 240px;
    }
    .hero {
        height: 350px;
    }
    .profileTitle {
        text-align: center;
        margin: 10px auto;
        padding: 0px;
    }
    .menu {
        position: sticky;
        top: 0;
        margin-top: -100px;
    }
    .menu a {
        font-size: 10px;
        padding: 7px 13px; 
    }
    .content_box {
        display: flex;
        flex-direction: column;
    }
    .title {
        margin-left: 20px;
        padding-top: 15px;
    }
    .date {
        margin-left: 20px;
        margin-top: 5px;
    }
    .sub_title {
        margin-left: 20px;
        margin-top: 0px;
    }
    .description {
        margin-left: 20px;
    }
    .skill_list {
        margin-left: 20px;
        margin-top: 10px;
    }
    .hobby_list {
        margin-left: 20px;
        margin-top: 10px;
    }
    .contact_title {
        text-align: center;
    }
    .form {
        margin: 0 auto;
    }
}

@media screen and (max-width: 350px) {
    .profileImage {
        width: 100px;
        height: 100px;
    }
    .profileJob {
        font-size: 14px;
    }
    .profileName {
        font-size: 29px;
    }
    .menu {
        margin-top: -160px;
    }
    .menu a {
        font-size: 9px;
        padding: 7px 10px; 
    }
    .form {
        margin: 0 auto;
    }
}